  ul.topnav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #2F4F4F;
  }
  ul.topnav li a {
    
	display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color:lightslategray;}
  
  ul.topnav li a.active {background-color:mediumslateblue;}
  
  
  
@media all and (orientation:landscape)
{
	ul.topnav 
	{		
			
			height: 60vh;
			width: 15vw;
			position: fixed;
			z-index: 1;
			top: 15vh;
			left: 0;
			background-color: #2F4F4F;
			overflow-x: hidden;
			padding-top: 20px;
	}
} 