label 
{
  display: inline-block;
}

*
{
	font-family: 'Arvo', serif;
}
body
{
	background:linear-gradient(to right,#292e49,#536976);
}
/* #approveForm 
{
	background-color: #ffffff;
	margin-top: 5vh;
	width: 40vw;
	min-width: 40vw; 
} */

h1 {
  text-align: center;  
}

input[type="checkbox"]
{
	padding-left: 30px;
	margin-left: 30px;
}

input[type="submit"]
{
	background-color: mediumslateblue;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	font-size: 17px;
	cursor: pointer;
}

input[type="submit"]:hover 
{
	opacity: 0.9;
}
